.wizard.wizard-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wizard.wizard-2 .wizard-nav {
    -ms-flex: 0 0 400px;
    -webkit-box-flex: 0;
    flex: 0 0 400px;
    max-width: 100%;
    padding: 0;
    width: 400px;
}

.wizard.wizard-2 .wizard-nav .wizard-steps {
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    position: relative;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step .wizard-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step .wizard-icon {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    font-size: 2.5rem;
    margin-right: 1.1rem;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step .wizard-icon i { color: #B5B5C3; }

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step .wizard-icon .svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    fill: #B5B5C3;
    transition: fill 0.3s ease;
}

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step .wizard-icon .svg-icon svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
}

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step .wizard-label {
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step .wizard-label .wizard-title {
    color: #181C32;
    font-size: 1.1rem;
    font-weight: 500;
}

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step .wizard-label .wizard-desc { color: #7E8299; }

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step .wizard-arrow {
    color: #7E8299;
    font-size: 1.25rem;
}

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step .wizard-arrow.last { display: none; }

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step[data-wizard-state="current"] {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    background-color: #F3F6F9;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step[data-wizard-state="current"] .wizard-icon {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step[data-wizard-state="current"] .wizard-icon i { color: #3699FF !important; }

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step[data-wizard-state="current"] .wizard-icon .svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    fill: #3699FF !important;
    transition: fill 0.3s ease;
}

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step[data-wizard-state="current"] .wizard-icon .svg-icon svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
}

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step[data-wizard-state="current"]:after {
    -webkit-transform: translateY(-50%);
    border: solid transparent;
    border-left-color: #F3F6F9;
    border-width: 1rem;
    content: " ";
    height: 0;
    left: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
}

.wizard.wizard-2 .wizard-body { width: 100%; }

@media (min-width: 992px) and (max-width: 1399.98px) {
    .wizard.wizard-2 .wizard-nav {
        -ms-flex: 0 0 325px;
        -webkit-box-flex: 0;
        flex: 0 0 325px;
        width: 325px;
    }
}

@media (max-width: 991.98px) {
    .wizard.wizard-2 { display: block; }

    .wizard.wizard-2 .wizard-nav {
        border-bottom: 1px solid #EBEDF3;
        width: 100%;
    }

    .wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step[data-wizard-state="current"]:after { content: none; }

    .wizard.wizard-2 .wizard-body { width: 100%; }
}